body {
    font-family: 'Arial', sans-serif;
    text-align: center;
}

#word-container {
    font-size: 24px;
    margin: 20px;
}

#input-container {
    margin-bottom: 20px;
}

button {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border: 2px solid #333;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#attempts {
    font-size: 18px;
}
